<div>
    <h2 id="page-heading">
        <span>Inspection Ids</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-inspection-id" [routerLink]="['/inspection-id/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Inspection Id
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="inspectionIds">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Inspection Id</span></th>
            <th><span>Inspection Flag</span></th>
            <th><span>Inspection Name</span></th>
            <th><span>Sort Number</span></th>
            <th><span>Updated At</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let inspectionId of inspectionIds ;trackBy: trackId">
                <td><a [routerLink]="['/inspection-id', inspectionId.id, 'view' ]">{{inspectionId.id}}</a></td>
                <td>{{inspectionId.inspectionId}}</td>
                <td>{{inspectionId.inspectionFlag}}</td>
                <td>{{inspectionId.inspectionName}}</td>
                <td>{{inspectionId.sortNumber}}</td>
                <td>{{inspectionId.updatedAt | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/inspection-id', inspectionId.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/inspection-id', inspectionId.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'inspection-id', { outlets: { popup: inspectionId.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
